<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_lbuf4AnIEeeWCpG-PoUfYA" specification="interface C1:&#xA;var m: integer&#xA;var h: integer&#xA;var sec: integer&#xA;&#xA;in event set&#xA;in event inc&#xA;&#xA;operation Beep(): integer&#xA;operation ShowHours()&#xA;operation ShowMinutes()&#xA;operation ShowCurrentTime()&#xA;&#xA;&#xA;interface C2:&#xA;var m: integer&#xA;var h: integer&#xA;var sec: integer&#xA;&#xA;in event set&#xA;in event inc&#xA;&#xA;operation Beep(): integer&#xA;operation ShowHours()&#xA;operation ShowMinutes()&#xA;operation ShowCurrentTime()&#xA;" name="DigitalClock">
    <regions xmi:id="_yhy-QAnIEeeWCpG-PoUfYA" name="DigitalClock1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_zspBHAnIEeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_zspBHQnIEeeWCpG-PoUfYA" specification="/C1.m=0; C1.h=0; C1.sec=0&#xA;" target="_zssEEAnIEeeWCpG-PoUfYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zssEEAnIEeeWCpG-PoUfYA" specification="entry / C1.Beep()&#xA;always / C1.ShowHours()" name="set hours" incomingTransitions="_zspBHQnIEeeWCpG-PoUfYA _zssrNgnIEeeWCpG-PoUfYA _zsw8kgnIEeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_zssrNgnIEeeWCpG-PoUfYA" specification="C1.inc / C1.h=(C1.h+1)%24" target="_zssEEAnIEeeWCpG-PoUfYA"/>
        <outgoingTransitions xmi:id="_zstSPgnIEeeWCpG-PoUfYA" specification="C1.set" target="_zsugUAnIEeeWCpG-PoUfYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zsugUAnIEeeWCpG-PoUfYA" specification="entry / C1.Beep()&#xA;always / C1.ShowMinutes()" name="set minutes" incomingTransitions="_zstSPgnIEeeWCpG-PoUfYA _zsugZwnIEeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_zsugZwnIEeeWCpG-PoUfYA" specification="C1.inc / C1.m=(C1.m+1)%60" target="_zsugUAnIEeeWCpG-PoUfYA"/>
        <outgoingTransitions xmi:id="_zsvHbgnIEeeWCpG-PoUfYA" specification="C1.set" target="_zswVgAnIEeeWCpG-PoUfYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zswVgAnIEeeWCpG-PoUfYA" specification="" name="UpdateTime" incomingTransitions="_zsvHbgnIEeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_zsw8kgnIEeeWCpG-PoUfYA" specification="C1.set" target="_zssEEAnIEeeWCpG-PoUfYA"/>
        <regions xmi:id="_zsw8lgnIEeeWCpG-PoUfYA" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_zsyxwwnIEeeWCpG-PoUfYA" specification="entry / C1.m=(C1.m+1)%60" name="IncMin" incomingTransitions="_hol6kAnKEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_Lg4AEAnLEeeWCpG-PoUfYA" specification="always[C1.m==0]" target="_zsz_8gnIEeeWCpG-PoUfYA"/>
            <outgoingTransitions xmi:id="_qDGzUAnLEeeWCpG-PoUfYA" specification="always" target="_zszY5gnIEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_zszY5gnIEeeWCpG-PoUfYA" specification="entry / C1.sec=(C1.sec+1)%60&#xA;always / C1.ShowCurrentTime()" name="IncSec" incomingTransitions="_AdL7EAnJEeeWCpG-PoUfYA _ssMnYAnJEeeWCpG-PoUfYA _Q6V_IAnLEeeWCpG-PoUfYA _qDGzUAnLEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_ssMnYAnJEeeWCpG-PoUfYA" specification="after 1s [C1.sec !=0]" target="_zszY5gnIEeeWCpG-PoUfYA"/>
            <outgoingTransitions xmi:id="_hol6kAnKEeeWCpG-PoUfYA" specification="always[C1.sec==0]" target="_zsyxwwnIEeeWCpG-PoUfYA"/>
            <outgoingTransitions xmi:id="_giKokAnLEeeWCpG-PoUfYA" specification="C1.set" target="_giKBgAnLEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_zsz_8gnIEeeWCpG-PoUfYA" specification="entry / C1.h = (C1.h+1) % 24" name="IncHours" incomingTransitions="_Lg4AEAnLEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_Q6V_IAnLEeeWCpG-PoUfYA" specification="always" target="_zszY5gnIEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_zs0nCwnIEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_AdL7EAnJEeeWCpG-PoUfYA" specification="" target="_zszY5gnIEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_giKBgAnLEeeWCpG-PoUfYA" incomingTransitions="_giKokAnLEeeWCpG-PoUfYA"/>
        </regions>
      </vertices>
    </regions>
    <regions xmi:id="_6t900AnQEeeWCpG-PoUfYA" name="DigitalClock2">
      <vertices xsi:type="sgraph:State" xmi:id="_NGj8wAnREeeWCpG-PoUfYA" specification="entry / C2.Beep()&#xA;always / C2.ShowHours()" name="set hours" incomingTransitions="_NGj82wnREeeWCpG-PoUfYA _TgO0kAnREeeWCpG-PoUfYA _tp0zoAnREeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_NGj82wnREeeWCpG-PoUfYA" specification="C2.inc / C2.h=(C2.h+1)%24" target="_NGj8wAnREeeWCpG-PoUfYA"/>
        <outgoingTransitions xmi:id="_NGkj4QnREeeWCpG-PoUfYA" specification="C2.set" target="_NGlx8AnREeeWCpG-PoUfYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NGlx8AnREeeWCpG-PoUfYA" specification="entry / C2.Beep()&#xA;always / C2.ShowMinutes()" name="set minutes" incomingTransitions="_NGkj4QnREeeWCpG-PoUfYA _NGmZDAnREeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_NGmZDAnREeeWCpG-PoUfYA" specification="C2.inc / C2.m=(C2.m+1)%60" target="_NGlx8AnREeeWCpG-PoUfYA"/>
        <outgoingTransitions xmi:id="_qGu1cAnTEeeWCpG-PoUfYA" specification="C2.set" target="_WeNBkAnREeeWCpG-PoUfYA"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_S6vh4AnREeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_TgO0kAnREeeWCpG-PoUfYA" specification="/C2.m=0; C2.h=0; C2.sec=0&#xA;" target="_NGj8wAnREeeWCpG-PoUfYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_WeNBkAnREeeWCpG-PoUfYA" specification="&#xA;always / C2.ShowCurrentTime()" name="UpdateTIme" incomingTransitions="_qlTSsAnREeeWCpG-PoUfYA _WkZ6wAnSEeeWCpG-PoUfYA _qGu1cAnTEeeWCpG-PoUfYA _u9FgYAnTEeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_qlTSsAnREeeWCpG-PoUfYA" specification="after 1s [C2.sec &lt;= 59] / C2.sec = (C2.sec + 1) % 60" target="_WeNBkAnREeeWCpG-PoUfYA"/>
        <outgoingTransitions xmi:id="_tp0zoAnREeeWCpG-PoUfYA" specification="C2.set" target="_NGj8wAnREeeWCpG-PoUfYA"/>
        <outgoingTransitions xmi:id="_WkZ6wAnSEeeWCpG-PoUfYA" specification="always [C2.sec == 59 &amp;&amp; C2.m &lt; 59] / C2.m=(C2.m+1)%60;C2.sec=0" target="_WeNBkAnREeeWCpG-PoUfYA"/>
        <outgoingTransitions xmi:id="_u9FgYAnTEeeWCpG-PoUfYA" specification="always [C2.m == 59 &amp;&amp; C2.sec == 59] / C2.h=(C2.h+1)%24;C2.m=0;C2.sec=0" target="_WeNBkAnREeeWCpG-PoUfYA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_lbz_cgnIEeeWCpG-PoUfYA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_lbuf4AnIEeeWCpG-PoUfYA" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_lb3CxwnIEeeWCpG-PoUfYA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_lb3p0AnIEeeWCpG-PoUfYA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lb3p0QnIEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lb3p0gnIEeeWCpG-PoUfYA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_lb3p0wnIEeeWCpG-PoUfYA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lb3p1AnIEeeWCpG-PoUfYA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lb3p1QnIEeeWCpG-PoUfYA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_yh0MYAnIEeeWCpG-PoUfYA" type="Region" element="_yhy-QAnIEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_yh0zcAnIEeeWCpG-PoUfYA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yh0zcQnIEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yh0zcgnIEeeWCpG-PoUfYA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yh0zcwnIEeeWCpG-PoUfYA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_zsoZsQnIEeeWCpG-PoUfYA" type="Entry" element="_zspBHAnIEeeWCpG-PoUfYA">
          <children xmi:id="_zsoZsgnIEeeWCpG-PoUfYA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_zsoZswnIEeeWCpG-PoUfYA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_zsoZtAnIEeeWCpG-PoUfYA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_zsoZtQnIEeeWCpG-PoUfYA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zsoZtgnIEeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zsoZtwnIEeeWCpG-PoUfYA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zsoZuAnIEeeWCpG-PoUfYA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_zsoZuQnIEeeWCpG-PoUfYA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zsoZugnIEeeWCpG-PoUfYA" x="25" y="392" width="15" height="15"/>
        </children>
        <children xmi:id="_zsoZuwnIEeeWCpG-PoUfYA" type="State" element="_zssEEAnIEeeWCpG-PoUfYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_zsoZvAnIEeeWCpG-PoUfYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zsoZvQnIEeeWCpG-PoUfYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zsoZvgnIEeeWCpG-PoUfYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zsoZvwnIEeeWCpG-PoUfYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zsoZwAnIEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zsoZwQnIEeeWCpG-PoUfYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zsoZwgnIEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zsoZwwnIEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zsoZxAnIEeeWCpG-PoUfYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zsoZxQnIEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zsoZxgnIEeeWCpG-PoUfYA" x="193" y="371" width="198" height="56"/>
        </children>
        <children xmi:id="_zspAwAnIEeeWCpG-PoUfYA" type="State" element="_zsugUAnIEeeWCpG-PoUfYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_zspAwQnIEeeWCpG-PoUfYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zspAwgnIEeeWCpG-PoUfYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zspAwwnIEeeWCpG-PoUfYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zspAxAnIEeeWCpG-PoUfYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zspAxQnIEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zspAxgnIEeeWCpG-PoUfYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zspAxwnIEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zspAyAnIEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zspAyQnIEeeWCpG-PoUfYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zspAygnIEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zspAywnIEeeWCpG-PoUfYA" x="133" y="503" width="188" height="56"/>
        </children>
        <children xmi:id="_zspAzAnIEeeWCpG-PoUfYA" type="State" element="_zswVgAnIEeeWCpG-PoUfYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_zspAzQnIEeeWCpG-PoUfYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zspAzgnIEeeWCpG-PoUfYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zspAzwnIEeeWCpG-PoUfYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zspA0AnIEeeWCpG-PoUfYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zspA0QnIEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zspA0gnIEeeWCpG-PoUfYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zspA0wnIEeeWCpG-PoUfYA" type="StateFigureCompartment">
            <children xmi:id="_UjX7UAnLEeeWCpG-PoUfYA" type="Region" element="_zsw8lgnIEeeWCpG-PoUfYA">
              <children xsi:type="notation:DecorationNode" xmi:id="_UjX7UQnLEeeWCpG-PoUfYA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7UgnLEeeWCpG-PoUfYA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_UjX7UwnLEeeWCpG-PoUfYA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_UjX7VAnLEeeWCpG-PoUfYA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_UjX7VQnLEeeWCpG-PoUfYA" type="State" element="_zsyxwwnIEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_UjX7VgnLEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7VwnLEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_UjX7WAnLEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_UjX7WQnLEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_UjX7WgnLEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7WwnLEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_UjX7XAnLEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7XQnLEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_UjX7XgnLEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_UjX7XwnLEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7YAnLEeeWCpG-PoUfYA" x="225" y="157" width="197" height="53"/>
                </children>
                <children xmi:id="_UjX7YQnLEeeWCpG-PoUfYA" type="State" element="_zszY5gnIEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_UjX7YgnLEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7YwnLEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_UjX7ZAnLEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_UjX7ZQnLEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_UjX7ZgnLEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7ZwnLEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_UjX7aAnLEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7aQnLEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_UjX7agnLEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_UjX7awnLEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7bAnLEeeWCpG-PoUfYA" x="11" y="54" width="220" height="56"/>
                </children>
                <children xmi:id="_UjX7bQnLEeeWCpG-PoUfYA" type="State" element="_zsz_8gnIEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_UjX7bgnLEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7bwnLEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_UjX7cAnLEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_UjX7cQnLEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_UjX7cgnLEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7cwnLEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_UjX7dAnLEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7dQnLEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_UjX7dgnLEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_UjX7dwnLEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7eAnLEeeWCpG-PoUfYA" x="199" y="-21" width="197" height="53"/>
                </children>
                <children xmi:id="_UjX7eQnLEeeWCpG-PoUfYA" type="Entry" element="_zs0nCwnIEeeWCpG-PoUfYA">
                  <children xmi:id="_UjX7egnLEeeWCpG-PoUfYA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_UjX7ewnLEeeWCpG-PoUfYA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7fAnLEeeWCpG-PoUfYA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_UjX7fQnLEeeWCpG-PoUfYA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7fgnLEeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7fwnLEeeWCpG-PoUfYA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7gAnLEeeWCpG-PoUfYA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_UjX7gQnLEeeWCpG-PoUfYA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7ggnLEeeWCpG-PoUfYA" x="-3" y="12"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_giKBgQnLEeeWCpG-PoUfYA" type="FinalState" element="_giKBgAnLEeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_giKBggnLEeeWCpG-PoUfYA" x="88" y="173"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7hQnLEeeWCpG-PoUfYA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_UjX7hgnLEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UjX7hwnLEeeWCpG-PoUfYA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zspBGAnIEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zspBGQnIEeeWCpG-PoUfYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zspBGgnIEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zspBGwnIEeeWCpG-PoUfYA" x="1" width="510" height="316"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yh0zdAnIEeeWCpG-PoUfYA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_yh0MYQnIEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yh0MYgnIEeeWCpG-PoUfYA" x="228" y="10" width="565" height="639"/>
    </children>
    <children xmi:id="_6t_C8AnQEeeWCpG-PoUfYA" type="Region" element="_6t900AnQEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6t_C8wnQEeeWCpG-PoUfYA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6t_C9AnQEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6t_C9QnQEeeWCpG-PoUfYA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6t_C9gnQEeeWCpG-PoUfYA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_NGjVsQnREeeWCpG-PoUfYA" type="State" element="_NGj8wAnREeeWCpG-PoUfYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_NGjVsgnREeeWCpG-PoUfYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NGjVswnREeeWCpG-PoUfYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NGjVtAnREeeWCpG-PoUfYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NGjVtQnREeeWCpG-PoUfYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NGjVtgnREeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NGjVtwnREeeWCpG-PoUfYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NGjVuAnREeeWCpG-PoUfYA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NGjVuQnREeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NGjVugnREeeWCpG-PoUfYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NGjVuwnREeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NGjVvAnREeeWCpG-PoUfYA" x="182" y="227" width="198" height="56"/>
        </children>
        <children xmi:id="_NGjVvQnREeeWCpG-PoUfYA" type="State" element="_NGlx8AnREeeWCpG-PoUfYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_NGjVvgnREeeWCpG-PoUfYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NGjVvwnREeeWCpG-PoUfYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NGjVwAnREeeWCpG-PoUfYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NGjVwQnREeeWCpG-PoUfYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NGjVwgnREeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NGjVwwnREeeWCpG-PoUfYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NGjVxAnREeeWCpG-PoUfYA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NGjVxQnREeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NGjVxgnREeeWCpG-PoUfYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NGjVxwnREeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NGjVyAnREeeWCpG-PoUfYA" x="169" y="359" width="188" height="56"/>
        </children>
        <children xmi:id="_S6wwAAnREeeWCpG-PoUfYA" type="Entry" element="_S6vh4AnREeeWCpG-PoUfYA">
          <children xmi:id="_S6wwBAnREeeWCpG-PoUfYA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_S6xXEAnREeeWCpG-PoUfYA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_S6xXEQnREeeWCpG-PoUfYA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_S6xXEgnREeeWCpG-PoUfYA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_S6wwBQnREeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S6wwBgnREeeWCpG-PoUfYA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_S6wwAQnREeeWCpG-PoUfYA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_S6wwAgnREeeWCpG-PoUfYA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S6wwAwnREeeWCpG-PoUfYA" x="18" y="254"/>
        </children>
        <children xmi:id="_WeNoognREeeWCpG-PoUfYA" type="State" element="_WeNBkAnREeeWCpG-PoUfYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_WeOPsAnREeeWCpG-PoUfYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WeOPsQnREeeWCpG-PoUfYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WeOPsgnREeeWCpG-PoUfYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WeOPswnREeeWCpG-PoUfYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_WeOPtAnREeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WeOPtQnREeeWCpG-PoUfYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WeOPtgnREeeWCpG-PoUfYA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WeNoownREeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WeNopAnREeeWCpG-PoUfYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WeOPtwnREeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WeNopQnREeeWCpG-PoUfYA" x="133" y="71" width="224" height="78"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6t_C9wnQEeeWCpG-PoUfYA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_6t_C8QnQEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6t_C8gnQEeeWCpG-PoUfYA" x="804" y="10" width="529" height="507"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_lbz_cwnIEeeWCpG-PoUfYA"/>
    <edges xmi:id="_zs3qQAnIEeeWCpG-PoUfYA" type="Transition" element="_zspBHQnIEeeWCpG-PoUfYA" source="_zsoZsQnIEeeWCpG-PoUfYA" target="_zsoZuwnIEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zs3qQQnIEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zs3qQgnIEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zs3qQwnIEeeWCpG-PoUfYA" x="-9" y="21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zs3qRAnIEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zs3qRQnIEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zs3qRgnIEeeWCpG-PoUfYA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs3qRwnIEeeWCpG-PoUfYA" id="(0.0,0.5892857142857143)"/>
    </edges>
    <edges xmi:id="_zs4RUAnIEeeWCpG-PoUfYA" type="Transition" element="_zssrNgnIEeeWCpG-PoUfYA" source="_zsoZuwnIEeeWCpG-PoUfYA" target="_zsoZuwnIEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zs4RUQnIEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zs4RUgnIEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zs4RUwnIEeeWCpG-PoUfYA" x="-12" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zs4RVAnIEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zs4RVQnIEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zs4RVgnIEeeWCpG-PoUfYA" points="[18, -14, 97, 5]$[29, -14, 108, 5]$[29, 26, 108, 45]$[-39, 26, 40, 45]$[-39, 7, 40, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs4RVwnIEeeWCpG-PoUfYA" id="(0.9090909090909091,0.875)"/>
    </edges>
    <edges xmi:id="_zs4RWAnIEeeWCpG-PoUfYA" type="Transition" element="_zstSPgnIEeeWCpG-PoUfYA" source="_zsoZuwnIEeeWCpG-PoUfYA" target="_zspAwAnIEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zs4RWQnIEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zs4RWgnIEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zs4RWwnIEeeWCpG-PoUfYA" x="8" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zs4RXAnIEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zs4RXQnIEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zs4RXgnIEeeWCpG-PoUfYA" points="[7, 0, 3, -107]$[7, 101, 3, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs4RXwnIEeeWCpG-PoUfYA" id="(0.4326923076923077,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs4RYAnIEeeWCpG-PoUfYA" id="(0.45977011494252873,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="_zs4RYQnIEeeWCpG-PoUfYA" type="Transition" element="_zsugZwnIEeeWCpG-PoUfYA" source="_zspAwAnIEeeWCpG-PoUfYA" target="_zspAwAnIEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zs4RYgnIEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zs4RYwnIEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zs4RZAnIEeeWCpG-PoUfYA" x="-104" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zs4RZQnIEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zs4RZgnIEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zs4RZwnIEeeWCpG-PoUfYA" points="[0, 9, 30, -5]$[16, 9, 46, -5]$[16, 39, 46, 25]$[-34, 39, -4, 25]$[-34, 18, -4, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs4RaAnIEeeWCpG-PoUfYA" id="(1.0,0.6607142857142857)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs4RaQnIEeeWCpG-PoUfYA" id="(0.8089171974522293,0.9285714285714286)"/>
    </edges>
    <edges xmi:id="_zs44cAnIEeeWCpG-PoUfYA" type="Transition" element="_zsw8kgnIEeeWCpG-PoUfYA" source="_zspAzAnIEeeWCpG-PoUfYA" target="_zsoZuwnIEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zs44cQnIEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zs44cgnIEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zs44cwnIEeeWCpG-PoUfYA" x="-13" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zs44dAnIEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zs44dQnIEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zs44dgnIEeeWCpG-PoUfYA" points="[3, 4, -54, -69]$[3, 34, -54, -39]$[72, 34, 15, -39]$[72, 64, 15, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs44dwnIEeeWCpG-PoUfYA" id="(0.4051724137931034,0.9873417721518988)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs44eAnIEeeWCpG-PoUfYA" id="(0.36054421768707484,0.17857142857142858)"/>
    </edges>
    <edges xmi:id="_zs44gQnIEeeWCpG-PoUfYA" type="Transition" element="_zsvHbgnIEeeWCpG-PoUfYA" source="_zspAwAnIEeeWCpG-PoUfYA" target="_zspAzAnIEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zs44ggnIEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zs44gwnIEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zs44hAnIEeeWCpG-PoUfYA" x="3" y="19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zs44hQnIEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zs44hgnIEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zs44hwnIEeeWCpG-PoUfYA" points="[16, 22, -48, 233]$[193, 22, 129, 233]$[193, -206, 129, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs44iAnIEeeWCpG-PoUfYA" id="(0.9171974522292994,0.2857142857142857)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zs44iQnIEeeWCpG-PoUfYA" id="(0.7204433497536946,0.9841772151898734)"/>
    </edges>
    <edges xmi:id="_AdMiIAnJEeeWCpG-PoUfYA" type="Transition" element="_AdL7EAnJEeeWCpG-PoUfYA" source="_UjX7eQnLEeeWCpG-PoUfYA" target="_UjX7YQnLEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_AdMiJAnJEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AdMiJQnJEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AdMiJgnJEeeWCpG-PoUfYA" x="1" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AdMiIQnJEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AdMiIwnJEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AdMiIgnJEeeWCpG-PoUfYA" points="[7, 2, -153, 109]$[53, 2, -107, 109]$[53, -92, -107, 15]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AdNJMAnJEeeWCpG-PoUfYA" id="(0.9259259259259259,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_ssNOcAnJEeeWCpG-PoUfYA" type="Transition" element="_ssMnYAnJEeeWCpG-PoUfYA" source="_UjX7YQnLEeeWCpG-PoUfYA" target="_UjX7YQnLEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ssNOdAnJEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ssNOdQnJEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ssNOdgnJEeeWCpG-PoUfYA" x="-13" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ssNOcQnJEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ssNOcwnJEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ssNOcgnJEeeWCpG-PoUfYA" points="[146, 32, 124, 24]$[217, 32, 195, 24]$[217, 19, 195, 11]$[146, 19, 124, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ssOckAnJEeeWCpG-PoUfYA" id="(0.07407407407407407,0.1509433962264151)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ssPDoAnJEeeWCpG-PoUfYA" id="(0.9814814814814815,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_homhoAnKEeeWCpG-PoUfYA" type="Transition" element="_hol6kAnKEeeWCpG-PoUfYA" source="_UjX7YQnLEeeWCpG-PoUfYA" target="_UjX7VQnLEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_homhpAnKEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_honIsAnKEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_honIsQnKEeeWCpG-PoUfYA" x="-21" y="-60"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_homhoQnKEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_homhownKEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_homhognKEeeWCpG-PoUfYA" points="[6, 12, -47, -86]$[54, 112, 1, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hooW0AnKEeeWCpG-PoUfYA" id="(0.7634408602150538,0.7678571428571429)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hooW0QnKEeeWCpG-PoUfYA" id="(0.06091370558375635,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_Lg51QAnLEeeWCpG-PoUfYA" type="Transition" element="_Lg4AEAnLEeeWCpG-PoUfYA" source="_UjX7VQnLEeeWCpG-PoUfYA" target="_UjX7bQnLEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Lg51RAnLEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Lg51RQnLEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Lg51RgnLEeeWCpG-PoUfYA" x="13" y="64"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Lg51QQnLEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Lg51QwnLEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Lg51QgnLEeeWCpG-PoUfYA" points="[-13, -17, 19, 140]$[-13, -147, 19, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Lg6cUAnLEeeWCpG-PoUfYA" id="(0.8071065989847716,0.3584905660377358)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Lg6cUQnLEeeWCpG-PoUfYA" id="(0.7741935483870968,0.7924528301886793)"/>
    </edges>
    <edges xmi:id="_Q6X0UAnLEeeWCpG-PoUfYA" type="Transition" element="_Q6V_IAnLEeeWCpG-PoUfYA" source="_UjX7bQnLEeeWCpG-PoUfYA" target="_UjX7YQnLEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Q6YbYAnLEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Q6YbYQnLEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Q6YbYgnLEeeWCpG-PoUfYA" x="-17" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Q6X0UQnLEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Q6X0UwnLEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Q6X0UgnLEeeWCpG-PoUfYA" points="[0, 0, 68, -63]$[-49, 0, 19, -63]$[-49, 59, 19, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q6ZCcAnLEeeWCpG-PoUfYA" id="(0.0,0.33962264150943394)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q6ZCcQnLEeeWCpG-PoUfYA" id="(0.5591397849462365,0.08928571428571429)"/>
    </edges>
    <edges xmi:id="_giLPoAnLEeeWCpG-PoUfYA" type="Transition" element="_giKokAnLEeeWCpG-PoUfYA" source="_UjX7YQnLEeeWCpG-PoUfYA" target="_giKBgQnLEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_giLPpAnLEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_giLPpQnLEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_giLPpgnLEeeWCpG-PoUfYA" x="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_giLPoQnLEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_giLPownLEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_giLPognLEeeWCpG-PoUfYA" points="[-35, -25, 103, 75]$[-139, -101, -1, -1]"/>
    </edges>
    <edges xmi:id="_qDIBcAnLEeeWCpG-PoUfYA" type="Transition" element="_qDGzUAnLEeeWCpG-PoUfYA" source="_UjX7VQnLEeeWCpG-PoUfYA" target="_UjX7YQnLEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qDIogwnLEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qDIohAnLEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qDIohQnLEeeWCpG-PoUfYA" x="-20" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qDIogAnLEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qDIoggnLEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qDIogQnLEeeWCpG-PoUfYA" points="[-6, -8, 69, 84]$[-71, -84, 4, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qDJ2oAnLEeeWCpG-PoUfYA" id="(0.03553299492385787,0.6792452830188679)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qDJ2oQnLEeeWCpG-PoUfYA" id="(0.6182795698924731,0.8571428571428571)"/>
    </edges>
    <edges xmi:id="_NGnnIAnREeeWCpG-PoUfYA" type="Transition" element="_NGj82wnREeeWCpG-PoUfYA" source="_NGjVsQnREeeWCpG-PoUfYA" target="_NGjVsQnREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NGnnIQnREeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NGnnIgnREeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NGnnIwnREeeWCpG-PoUfYA" x="-12" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NGnnJAnREeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NGnnJQnREeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NGnnJgnREeeWCpG-PoUfYA" points="[5, 4, 97, 17]$[17, 4, 109, 17]$[17, 34, 109, 47]$[-45, 34, 47, 47]$[-45, 13, 47, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NGnnJwnREeeWCpG-PoUfYA" id="(0.9747474747474747,0.75)"/>
    </edges>
    <edges xmi:id="_NGnnKAnREeeWCpG-PoUfYA" type="Transition" element="_NGkj4QnREeeWCpG-PoUfYA" source="_NGjVsQnREeeWCpG-PoUfYA" target="_NGjVvQnREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NGnnKQnREeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NGnnKgnREeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NGnnKwnREeeWCpG-PoUfYA" x="8" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NGnnLAnREeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NGnnLQnREeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NGnnLgnREeeWCpG-PoUfYA" points="[-11, 0, 1, -87]$[-11, 81, 1, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NGnnLwnREeeWCpG-PoUfYA" id="(0.4326923076923077,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NGnnMAnREeeWCpG-PoUfYA" id="(0.45977011494252873,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="_NGnnMQnREeeWCpG-PoUfYA" type="Transition" element="_NGmZDAnREeeWCpG-PoUfYA" source="_NGjVvQnREeeWCpG-PoUfYA" target="_NGjVvQnREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NGnnMgnREeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NGnnMwnREeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NGnnNAnREeeWCpG-PoUfYA" x="-21" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NGnnNQnREeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NGnnNgnREeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NGnnNwnREeeWCpG-PoUfYA" points="[0, 9, 30, -5]$[16, 9, 46, -5]$[16, 39, 46, 25]$[-34, 39, -4, 25]$[-34, 18, -4, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NGnnOAnREeeWCpG-PoUfYA" id="(1.0,0.6607142857142857)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NGnnOQnREeeWCpG-PoUfYA" id="(0.8089171974522293,0.9285714285714286)"/>
    </edges>
    <edges xmi:id="_TgPboAnREeeWCpG-PoUfYA" type="Transition" element="_TgO0kAnREeeWCpG-PoUfYA" source="_S6wwAAnREeeWCpG-PoUfYA" target="_NGjVsQnREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_TgPbpAnREeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TgPbpQnREeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TgQCsAnREeeWCpG-PoUfYA" x="-6" y="21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TgPboQnREeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TgPbownREeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TgPbognREeeWCpG-PoUfYA" points="[7, 0, -159, 6]$[167, 17, 1, 23]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TgQpwAnREeeWCpG-PoUfYA" id="(0.050505050505050504,0.5535714285714286)"/>
    </edges>
    <edges xmi:id="_qlUg0AnREeeWCpG-PoUfYA" type="Transition" element="_qlTSsAnREeeWCpG-PoUfYA" source="_WeNoognREeeWCpG-PoUfYA" target="_WeNoognREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qlUg1AnREeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qlUg1QnREeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qlUg1gnREeeWCpG-PoUfYA" x="8" y="-104"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qlUg0QnREeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qlUg0wnREeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qlUg0gnREeeWCpG-PoUfYA" points="[-7, 19, -22, 47]$[-91, 19, -106, 47]$[-91, 69, -106, 97]$[5, 69, -10, 97]$[5, 34, -10, 62]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qlWWAAnREeeWCpG-PoUfYA" id="(0.03571428571428571,0.5384615384615384)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qlWWAQnREeeWCpG-PoUfYA" id="(0.10267857142857142,0.15384615384615385)"/>
    </edges>
    <edges xmi:id="_tp2BwAnREeeWCpG-PoUfYA" type="Transition" element="_tp0zoAnREeeWCpG-PoUfYA" source="_WeNoognREeeWCpG-PoUfYA" target="_NGjVsQnREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_tp2o0AnREeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tp2o0QnREeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tp2o0gnREeeWCpG-PoUfYA" x="21" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tp2BwQnREeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tp2BwwnREeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tp2BwgnREeeWCpG-PoUfYA" points="[-114, -22, -99, -119]$[-246, -22, -231, -119]$[-246, 107, -231, 10]$[-65, 107, -50, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tp328AnREeeWCpG-PoUfYA" id="(0.5223214285714286,0.8461538461538461)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tp328QnREeeWCpG-PoUfYA" id="(0.26262626262626265,0.05357142857142857)"/>
    </edges>
    <edges xmi:id="_WkcXAAnSEeeWCpG-PoUfYA" type="Transition" element="_WkZ6wAnSEeeWCpG-PoUfYA" source="_WeNoognREeeWCpG-PoUfYA" target="_WeNoognREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Wkc-EAnSEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Wkc-EQnSEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Wkc-EgnSEeeWCpG-PoUfYA" x="64" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WkcXAQnSEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WkcXAwnSEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WkcXAgnSEeeWCpG-PoUfYA" points="[14, 18, 53, -9]$[60, 18, 99, -9]$[60, 68, 99, 41]$[-37, 68, 2, 41]$[-37, 33, 2, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WkeMMAnSEeeWCpG-PoUfYA" id="(0.9375,0.5512820512820513)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WkeMMQnSEeeWCpG-PoUfYA" id="(0.7589285714285714,0.9230769230769231)"/>
    </edges>
    <edges xmi:id="_qGwDkAnTEeeWCpG-PoUfYA" type="Transition" element="_qGu1cAnTEeeWCpG-PoUfYA" source="_NGjVvQnREeeWCpG-PoUfYA" target="_WeNoognREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qGwqoQnTEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qGwqognTEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qGwqownTEeeWCpG-PoUfYA" x="-130" y="-65"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qGwDkQnTEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qGwqoAnTEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qGwDkgnTEeeWCpG-PoUfYA" points="[4, 5, 21, 283]$[146, 5, 163, 283]$[146, -272, 163, 6]$[4, -272, 21, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qGx4wAnTEeeWCpG-PoUfYA" id="(0.9787234042553191,0.4642857142857143)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qGyf0AnTEeeWCpG-PoUfYA" id="(0.90625,0.46153846153846156)"/>
    </edges>
    <edges xmi:id="_u9GugAnTEeeWCpG-PoUfYA" type="Transition" element="_u9FgYAnTEeeWCpG-PoUfYA" source="_WeNoognREeeWCpG-PoUfYA" target="_WeNoognREeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_u9GuhAnTEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_u9GuhQnTEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_u9GuhgnTEeeWCpG-PoUfYA" x="8" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_u9GugQnTEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_u9GugwnTEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_u9GuggnTEeeWCpG-PoUfYA" points="[23, -4, -83, -11]$[23, -40, -83, -47]$[131, -40, 25, -47]$[131, -4, 25, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_u9H8oAnTEeeWCpG-PoUfYA" id="(0.17410714285714285,0.0641025641025641)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_u9H8oQnTEeeWCpG-PoUfYA" id="(0.6607142857142857,0.15384615384615385)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
