<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_59lwsAnkEeeWCpG-PoUfYA" specification="interface:&#xA;var done: boolean" name="Orthogonal">
    <regions xmi:id="_2dpppwnlEeeWCpG-PoUfYA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_2d6vYwnlEeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_2d6vawnlEeeWCpG-PoUfYA" specification="" target="_2dppqgnlEeeWCpG-PoUfYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2dqQxQnlEeeWCpG-PoUfYA" name="S1">
        <regions xmi:id="_2d125wnlEeeWCpG-PoUfYA" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_2d46TQnlEeeWCpG-PoUfYA" name="SA1" incomingTransitions="_2d4TLwnlEeeWCpG-PoUfYA _7du4WQnlEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_2d5hRwnlEeeWCpG-PoUfYA" specification="after 1s" target="_2d3FGgnlEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_2d4TLQnlEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_2d4TLwnlEeeWCpG-PoUfYA" specification="" target="_2d46TQnlEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_2d3FGgnlEeeWCpG-PoUfYA" name="SA2" incomingTransitions="_2d5hRwnlEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_2d3sGgnlEeeWCpG-PoUfYA" specification="after 1s" target="_2d2d_AnlEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_2d2d_AnlEeeWCpG-PoUfYA" name="SA3" incomingTransitions="_2d3sGgnlEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_P91fUAnmEeeWCpG-PoUfYA" specification="" target="_IAf1UAnmEeeWCpG-PoUfYA"/>
          </vertices>
        </regions>
        <regions xmi:id="_2dq3ygnlEeeWCpG-PoUfYA" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_2dt7JAnlEeeWCpG-PoUfYA" name="SB1" incomingTransitions="_2dtUDAnlEeeWCpG-PoUfYA _75auwwnlEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_2duiIQnlEeeWCpG-PoUfYA" specification="after 2s" target="_2dsF-QnlEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_2dtUCwnlEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_2dtUDAnlEeeWCpG-PoUfYA" specification="" target="_2dt7JAnlEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_2dsF-QnlEeeWCpG-PoUfYA" name="SB2" incomingTransitions="_2duiIQnlEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_2dss-QnlEeeWCpG-PoUfYA" specification="after 3s" target="_2dq32gnlEeeWCpG-PoUfYA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_2dq32gnlEeeWCpG-PoUfYA" name="SB3" incomingTransitions="_2dss-QnlEeeWCpG-PoUfYA">
            <outgoingTransitions xmi:id="_RpYbIAnmEeeWCpG-PoUfYA" specification="" target="_IAf1UAnmEeeWCpG-PoUfYA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_2dppqgnlEeeWCpG-PoUfYA" incomingTransitions="_2d6vawnlEeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_7du4WQnlEeeWCpG-PoUfYA" specification="" target="_2d46TQnlEeeWCpG-PoUfYA"/>
        <outgoingTransitions xmi:id="_75auwwnlEeeWCpG-PoUfYA" specification="" target="_2dt7JAnlEeeWCpG-PoUfYA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_AmKKsAnmEeeWCpG-PoUfYA" specification="entry / done = true" name="Done" incomingTransitions="_VqLXEAnmEeeWCpG-PoUfYA"/>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_IAf1UAnmEeeWCpG-PoUfYA" incomingTransitions="_P91fUAnmEeeWCpG-PoUfYA _RpYbIAnmEeeWCpG-PoUfYA">
        <outgoingTransitions xmi:id="_VqLXEAnmEeeWCpG-PoUfYA" specification="" target="_AmKKsAnmEeeWCpG-PoUfYA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_59mXwgnkEeeWCpG-PoUfYA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_59lwsAnkEeeWCpG-PoUfYA" measurementUnit="Pixel">
    <children xmi:id="_2dpCkAnlEeeWCpG-PoUfYA" type="Region" element="_2dpppwnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2dpppAnlEeeWCpG-PoUfYA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2dpppgnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2dpppQnlEeeWCpG-PoUfYA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_2dppognlEeeWCpG-PoUfYA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_2d6IYgnlEeeWCpG-PoUfYA" type="Entry" element="_2d6vYwnlEeeWCpG-PoUfYA">
          <children xmi:id="_2d6IZgnlEeeWCpG-PoUfYA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_2d6vYAnlEeeWCpG-PoUfYA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2d6vYgnlEeeWCpG-PoUfYA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_2d6vYQnlEeeWCpG-PoUfYA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2d6IaAnlEeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d6IZwnlEeeWCpG-PoUfYA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2d6IZQnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_2d6IZAnlEeeWCpG-PoUfYA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d6IYwnlEeeWCpG-PoUfYA" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_2dqQsAnlEeeWCpG-PoUfYA" type="State" element="_2dqQxQnlEeeWCpG-PoUfYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_2dqQsQnlEeeWCpG-PoUfYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2dqQsgnlEeeWCpG-PoUfYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2dqQswnlEeeWCpG-PoUfYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2dqQtAnlEeeWCpG-PoUfYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2dqQtQnlEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dqQtgnlEeeWCpG-PoUfYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2dqQtwnlEeeWCpG-PoUfYA" type="StateFigureCompartment">
            <children xmi:id="_2d1P3QnlEeeWCpG-PoUfYA" type="Region" element="_2d125wnlEeeWCpG-PoUfYA">
              <children xsi:type="notation:DecorationNode" xmi:id="_2d125AnlEeeWCpG-PoUfYA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_2d125gnlEeeWCpG-PoUfYA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_2d125QnlEeeWCpG-PoUfYA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_2d124gnlEeeWCpG-PoUfYA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_2d46MAnlEeeWCpG-PoUfYA" type="State" element="_2d46TQnlEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2d46MQnlEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2d46MgnlEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2d46MwnlEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2d46NAnlEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2d46NQnlEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d46NgnlEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2d46NwnlEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2d46OAnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2d46OQnlEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2d46OgnlEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d46OwnlEeeWCpG-PoUfYA" x="51" y="44" width="60" height="56"/>
                </children>
                <children xmi:id="_2d4TIwnlEeeWCpG-PoUfYA" type="Entry" element="_2d4TLQnlEeeWCpG-PoUfYA">
                  <children xmi:id="_2d4TJwnlEeeWCpG-PoUfYA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_2d4TKgnlEeeWCpG-PoUfYA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_2d4TLAnlEeeWCpG-PoUfYA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_2d4TKwnlEeeWCpG-PoUfYA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2d4TKQnlEeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d4TKAnlEeeWCpG-PoUfYA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2d4TJgnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_2d4TJQnlEeeWCpG-PoUfYA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d4TJAnlEeeWCpG-PoUfYA" x="71" y="-13"/>
                </children>
                <children xmi:id="_2d3FDgnlEeeWCpG-PoUfYA" type="State" element="_2d3FGgnlEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2d3FDwnlEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2d3FEAnlEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2d3FEQnlEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2d3FEgnlEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2d3FEwnlEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d3FFAnlEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2d3FFQnlEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2d3FFgnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2d3FFwnlEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2d3FGAnlEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d3FGQnlEeeWCpG-PoUfYA" x="51" y="141" width="60"/>
                </children>
                <children xmi:id="_2d2d8AnlEeeWCpG-PoUfYA" type="State" element="_2d2d_AnlEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2d2d8QnlEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2d2d8gnlEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2d2d8wnlEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2d2d9AnlEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2d2d9QnlEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d2d9gnlEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2d2d9wnlEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2d2d-AnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2d2d-QnlEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2d2d-gnlEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d2d-wnlEeeWCpG-PoUfYA" x="51" y="225" width="55" height="49"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d124wnlEeeWCpG-PoUfYA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2d124QnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2d124AnlEeeWCpG-PoUfYA"/>
            </children>
            <children xmi:id="_2dq3wgnlEeeWCpG-PoUfYA" type="Region" element="_2dq3ygnlEeeWCpG-PoUfYA">
              <children xsi:type="notation:DecorationNode" xmi:id="_2dq3xwnlEeeWCpG-PoUfYA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_2dq3yQnlEeeWCpG-PoUfYA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_2dq3yAnlEeeWCpG-PoUfYA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_2dq3xQnlEeeWCpG-PoUfYA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_2dt7EAnlEeeWCpG-PoUfYA" type="State" element="_2dt7JAnlEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2dt7EQnlEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2dt7EgnlEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2dt7EwnlEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2dt7FAnlEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2dt7FQnlEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dt7FgnlEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2dt7FwnlEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2dt7GAnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2dt7GQnlEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2dt7GgnlEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dt7GwnlEeeWCpG-PoUfYA" x="16" y="57" width="61" height="49"/>
                </children>
                <children xmi:id="_2dtUAQnlEeeWCpG-PoUfYA" type="Entry" element="_2dtUCwnlEeeWCpG-PoUfYA">
                  <children xmi:id="_2dtUBQnlEeeWCpG-PoUfYA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_2dtUCAnlEeeWCpG-PoUfYA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_2dtUCgnlEeeWCpG-PoUfYA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_2dtUCQnlEeeWCpG-PoUfYA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2dtUBwnlEeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dtUBgnlEeeWCpG-PoUfYA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2dtUBAnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_2dtUAwnlEeeWCpG-PoUfYA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dtUAgnlEeeWCpG-PoUfYA" x="43"/>
                </children>
                <children xmi:id="_2dsF7QnlEeeWCpG-PoUfYA" type="State" element="_2dsF-QnlEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2dsF7gnlEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2dsF7wnlEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2dsF8AnlEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2dsF8QnlEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2dsF8gnlEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dsF8wnlEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2dsF9AnlEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2dsF9QnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2dsF9gnlEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2dsF9wnlEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dsF-AnlEeeWCpG-PoUfYA" x="16" y="153" width="56" height="49"/>
                </children>
                <children xmi:id="_2dq3zgnlEeeWCpG-PoUfYA" type="State" element="_2dq32gnlEeeWCpG-PoUfYA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2dq3zwnlEeeWCpG-PoUfYA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2dq30AnlEeeWCpG-PoUfYA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2dq30QnlEeeWCpG-PoUfYA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2dq30gnlEeeWCpG-PoUfYA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2dq30wnlEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dq31AnlEeeWCpG-PoUfYA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2dq31QnlEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2dq31gnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2dq31wnlEeeWCpG-PoUfYA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2dq32AnlEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dq32QnlEeeWCpG-PoUfYA" x="17" y="237" width="50" height="49"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dq3xgnlEeeWCpG-PoUfYA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2dq3xAnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dq3wwnlEeeWCpG-PoUfYA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2dqQuAnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2dqQuQnlEeeWCpG-PoUfYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2dqQugnlEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dqQuwnlEeeWCpG-PoUfYA" x="237" y="70" width="373" height="426"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_2dppqAnlEeeWCpG-PoUfYA" type="Synchronization" element="_2dppqgnlEeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dppqQnlEeeWCpG-PoUfYA" x="345" y="20" width="61" height="8"/>
        </children>
        <children xmi:id="_AmLY0AnmEeeWCpG-PoUfYA" type="State" element="_AmKKsAnmEeeWCpG-PoUfYA">
          <children xsi:type="notation:DecorationNode" xmi:id="_AmL_4AnmEeeWCpG-PoUfYA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AmL_4QnmEeeWCpG-PoUfYA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_AmL_4gnmEeeWCpG-PoUfYA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AmL_4wnmEeeWCpG-PoUfYA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_AmL_5AnmEeeWCpG-PoUfYA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AmL_5QnmEeeWCpG-PoUfYA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AmL_5gnmEeeWCpG-PoUfYA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AmLY0QnmEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_AmLY0gnmEeeWCpG-PoUfYA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AmL_5wnmEeeWCpG-PoUfYA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AmLY0wnmEeeWCpG-PoUfYA" x="333" y="563" width="162"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_IAgcYAnmEeeWCpG-PoUfYA" type="Synchronization" element="_IAf1UAnmEeeWCpG-PoUfYA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IAgcYQnmEeeWCpG-PoUfYA" x="357" y="539" width="109" height="8"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dppownlEeeWCpG-PoUfYA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_2dppoQnlEeeWCpG-PoUfYA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2dppoAnlEeeWCpG-PoUfYA" x="220" y="10" width="813" height="684"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_59oM8QnkEeeWCpG-PoUfYA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_59oM8wnkEeeWCpG-PoUfYA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_59oM9AnkEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_59oM9QnkEeeWCpG-PoUfYA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_59oM9gnkEeeWCpG-PoUfYA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_59oM9wnkEeeWCpG-PoUfYA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_59oM-AnkEeeWCpG-PoUfYA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_59mXwwnkEeeWCpG-PoUfYA"/>
    <edges xmi:id="_2d46PAnlEeeWCpG-PoUfYA" type="Transition" element="_2d4TLwnlEeeWCpG-PoUfYA" source="_2d4TIwnlEeeWCpG-PoUfYA" target="_2d46MAnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2d46PQnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2d46PgnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2d46PwnlEeeWCpG-PoUfYA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2d46QAnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2d46QQnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2d46QgnlEeeWCpG-PoUfYA" points="[0, 7, 2, -53]$[1, 50, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2d46QwnlEeeWCpG-PoUfYA" id="(0.4666666666666667,0.19642857142857142)"/>
    </edges>
    <edges xmi:id="_2d46UAnlEeeWCpG-PoUfYA" type="Transition" element="_2d5hRwnlEeeWCpG-PoUfYA" source="_2d46MAnlEeeWCpG-PoUfYA" target="_2d3FDgnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2d5hRAnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2d5hRgnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2d5hRQnlEeeWCpG-PoUfYA" x="-6" y="29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2d5hQwnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2d5hQgnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2d5hQQnlEeeWCpG-PoUfYA" points="[2, 26, 3, -47]$[2, 72, 3, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2d5hQAnlEeeWCpG-PoUfYA" id="(0.48333333333333334,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_2d3sEgnlEeeWCpG-PoUfYA" type="Transition" element="_2d3sGgnlEeeWCpG-PoUfYA" source="_2d3FDgnlEeeWCpG-PoUfYA" target="_2d2d8AnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2d3sFwnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2d3sGQnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2d3sGAnlEeeWCpG-PoUfYA" x="1" y="30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2d3sFgnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2d3sFQnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2d3sFAnlEeeWCpG-PoUfYA" points="[1, 24, 3, -45]$[1, 60, 3, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2d3sEwnlEeeWCpG-PoUfYA" id="(0.509090909090909,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_2dt7HAnlEeeWCpG-PoUfYA" type="Transition" element="_2dtUDAnlEeeWCpG-PoUfYA" source="_2dtUAQnlEeeWCpG-PoUfYA" target="_2dt7EAnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2dt7HQnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2dt7HgnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2dt7HwnlEeeWCpG-PoUfYA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2dt7IAnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2dt7IQnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2dt7IgnlEeeWCpG-PoUfYA" points="[0, 7, 6, -53]$[-3, 50, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2dt7IwnlEeeWCpG-PoUfYA" id="(0.5081967213114754,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_2dt7JwnlEeeWCpG-PoUfYA" type="Transition" element="_2duiIQnlEeeWCpG-PoUfYA" source="_2dt7EAnlEeeWCpG-PoUfYA" target="_2dsF7QnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2dt7LQnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2duiIAnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2dt7LgnlEeeWCpG-PoUfYA" x="-5" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2dt7LAnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2dt7KwnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2dt7KgnlEeeWCpG-PoUfYA" points="[2, 9, -9, -55]$[14, 57, 3, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2dt7KQnlEeeWCpG-PoUfYA" id="(0.3442622950819672,0.8301886792452831)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2dt7KAnlEeeWCpG-PoUfYA" id="(0.5892857142857143,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_2dss8AnlEeeWCpG-PoUfYA" type="Transition" element="_2dss-QnlEeeWCpG-PoUfYA" source="_2dsF7QnlEeeWCpG-PoUfYA" target="_2dq3zgnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2dss9gnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2dss-AnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2dss9wnlEeeWCpG-PoUfYA" x="1" y="-27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2dss9QnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2dss9AnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2dss8wnlEeeWCpG-PoUfYA" points="[7, 10, 3, -45]$[7, 46, 3, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2dss8gnlEeeWCpG-PoUfYA" id="(0.32142857142857145,0.7924528301886793)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2dss8QnlEeeWCpG-PoUfYA" id="(0.44,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_7du4UAnlEeeWCpG-PoUfYA" type="Transition" element="_7du4WQnlEeeWCpG-PoUfYA" source="_2dppqAnlEeeWCpG-PoUfYA" target="_2d46MAnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7du4VgnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7du4WAnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7du4VwnlEeeWCpG-PoUfYA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7du4VQnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7du4VAnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7du4UwnlEeeWCpG-PoUfYA" points="[-49, 0, 54, -187]$[-49, 161, 54, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7du4UgnlEeeWCpG-PoUfYA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7du4UQnlEeeWCpG-PoUfYA" id="(0.016666666666666666,0.5178571428571429)"/>
    </edges>
    <edges xmi:id="_75aHsAnlEeeWCpG-PoUfYA" type="Transition" element="_75auwwnlEeeWCpG-PoUfYA" source="_2dppqAnlEeeWCpG-PoUfYA" target="_2dt7EAnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_75auwAnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_75auwgnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_75auwQnlEeeWCpG-PoUfYA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_75aHtQnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_75aHtAnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_75aHswnlEeeWCpG-PoUfYA" points="[-13, 0, -119, -161]$[-13, 31, -119, -130]$[106, 31, 0, -130]$[106, 161, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_75aHsgnlEeeWCpG-PoUfYA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_75aHsQnlEeeWCpG-PoUfYA" id="(0.8688524590163934,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_2d6vZAnlEeeWCpG-PoUfYA" type="Transition" element="_2d6vawnlEeeWCpG-PoUfYA" source="_2d6IYgnlEeeWCpG-PoUfYA" target="_2dppqAnlEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2d6vaAnlEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2d6vagnlEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2d6vaQnlEeeWCpG-PoUfYA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2d6vZwnlEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2d6vZgnlEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2d6vZQnlEeeWCpG-PoUfYA" points="[7, 0, -253, -9]$[259, -7, -1, -16]"/>
    </edges>
    <edges xmi:id="_P92tcAnmEeeWCpG-PoUfYA" type="Transition" element="_P91fUAnmEeeWCpG-PoUfYA" source="_2d2d8AnlEeeWCpG-PoUfYA" target="_IAgcYAnmEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_P92tdAnmEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_P92tdQnmEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_P92tdgnmEeeWCpG-PoUfYA" x="-3" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_P92tcQnmEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_P92tcwnmEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_P92tcgnmEeeWCpG-PoUfYA" points="[-13, 20, -62, -121]$[-13, 80, -62, -61]$[49, 80, 0, -61]$[49, 141, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P937kAnmEeeWCpG-PoUfYA" id="(0.8,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P937kQnmEeeWCpG-PoUfYA" id="(0.3211009174311927,0.0)"/>
    </edges>
    <edges xmi:id="_RpZCMAnmEeeWCpG-PoUfYA" type="Transition" element="_RpYbIAnmEeeWCpG-PoUfYA" source="_2dq3zgnlEeeWCpG-PoUfYA" target="_IAgcYAnmEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_RpZCNAnmEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RpZCNQnmEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RpZCNgnmEeeWCpG-PoUfYA" x="-1" y="-31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RpZCMQnmEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RpZCMwnmEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RpZCMgnmEeeWCpG-PoUfYA" points="[16, 24, 64, -123]$[16, 86, 64, -61]$[-33, 86, 15, -61]$[-33, 146, 15, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RpaQUAnmEeeWCpG-PoUfYA" id="(0.2,0.5094339622641509)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RpaQUQnmEeeWCpG-PoUfYA" id="(0.6330275229357798,0.125)"/>
    </edges>
    <edges xmi:id="_VqMlMAnmEeeWCpG-PoUfYA" type="Transition" element="_VqLXEAnmEeeWCpG-PoUfYA" source="_IAgcYAnmEeeWCpG-PoUfYA" target="_AmLY0AnmEeeWCpG-PoUfYA">
      <children xsi:type="notation:DecorationNode" xmi:id="_VqMlNAnmEeeWCpG-PoUfYA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VqMlNQnmEeeWCpG-PoUfYA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VqMlNgnmEeeWCpG-PoUfYA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VqMlMQnmEeeWCpG-PoUfYA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VqMlMwnmEeeWCpG-PoUfYA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VqMlMgnmEeeWCpG-PoUfYA" points="[-5, 4, 3, -25]$[-5, 20, 3, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VqNzUAnmEeeWCpG-PoUfYA" id="(0.47435897435897434,0.20754716981132076)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
